*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

#nav{
  display: flex;

}
#nav ul{
  table-layout: none;
}
#nav ul li{
  display: inline-block;
  text-align: center;
}

#contSection{
  display: flex;
  justify-content: center;
  padding:10px;
}

.box{
  border: 1px solid purple;
  padding: 10px;
  flex-basis: 30%;
}

#wordSec{
  display:flex;
  padding: 10px;
  justify-content: center;

}

.box2{
  border: 1px solid purple;
  flex-basis: 25%;
  padding: 10px;
}
