*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

#header {
  width:1000px;
  max-width: 1000px;
}

#header::after{
  content:'';
  display:table;
  clear:both;
}

.headerContent{
  width:15%;
  float:left;
}
.headerText{
  width:85%;
  float:left;
}

#sideNav{
  float: right;
  width:15%;
}

#sideNav ul{
  list-style: none;
  position: fixed;
}

#content1{
  width:1000px;
  max-width: 1000px;
}

#content2{
  width:1000px;
  max-width: 1000px;
}

#content3{
  width:1000px;
  max-width: 1000px;
}

.contentBlock{
  width:42.5%;
  float:left;
}

.clear{
  clear:both;
}
